.card{
  width: 41.8rem;
  height: fit-content;
  padding: 1.5rem;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38);
}

.imageContainer{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.29);
}

.imageContainer img{
  width: 100%;
  height: 100%;
}

.textContainer{
  padding: 0.8rem;
}

.articleDetails{
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 100;
  color: var(--text-color);
  display: flex;
  gap: 0.5rem;
}

.articleTitle{
  margin: .75rem 0 1.5rem;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
  width: 90%;
  line-height: 1.5;
  color: var(--text-color);
}

.contentContainer{
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 100;
}

.articleContent{
  line-height: 1.8;
}

.bottomContent{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.line{
  width: 8rem;
  height: 0.2rem;
  background-color: #FF00F7;
}

.actionText{
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #FF00F7;
}

.timeCard{
  background-color: var(--white-color);
  color: var(--black-color);
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.digits, .value{
  text-align: center;
}
.digits{
  font-size: 4rem;
  font-weight: 600;
}
.value{
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 300;
}